.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: inherit;
    color: white;
    transition: all 0.3s ease;
}

.nav-logo {
    font-family: Outfit, sans-serif;
    font-size: 42px;
    font-weight: 500;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 18px;
    gap: 90px;
    cursor: pointer;
}

.nav-contact {
    border-radius: 50px;
    padding: 10px 38px;
    background: #fff;
    color: #262626;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
}

.nav-contact:hover {
    background: #262626;
    color: #fff;
}

@media (max-width: 1200px) {
    .nav {
        padding: 20px 30px;
    }

    .nav-menu {
        gap: 60px;
    }

    .nav-contact {
        padding: 8px 30px;
    }
}

@media (max-width: 768px) {
    .nav {
        padding: 20px 20px;
    }

    .nav-logo {
        font-size: 36px;
    }

    .nav-menu {
        gap: 40px;
        font-size: 16px;
    }

    .nav-contact {
        padding: 8px 24px;
    }
}

@media (max-width: 480px) {
    .nav {
        flex-direction: column;
        align-items: flex-start;
        padding: 15px 20px;
    }

    .nav-logo {
        font-size: 32px;
        margin-bottom: 15px;
    }

    .nav-menu {
        flex-direction: column;
        gap: 20px;
    }

    .nav-contact {
        padding: 8px 20px;
        font-size: 16px;
    }
}

@media (max-width: 320px) {
    .nav {
        padding: 10px 10px;
    }

    .nav-logo {
        font-size: 28px;
    }

    .nav-menu {
        font-size: 14px;
        gap: 15px;
    }

    .nav-contact {
        padding: 6px 15px;
        font-size: 14px;
    }
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px;
    transition: all 0.3s ease;
}

@media (max-width: 768px) {
    .hamburger {
        display: none;
    }

    .nav-menu {
        display: none; 
        flex-direction: column;
        width: 100%;
    }

    .nav-menu.active {
        display: flex; 
    }

    .nav-menu li {
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }
}
